<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="fileReader" class="language.FileReader" />

    <bean id="dictionary" class="language.Dictionary">
        <constructor-arg ref="fileReader"/>
    </bean>

    <bean id="language" class="language.Language">
        <constructor-arg ref="fileReader"/>
        <constructor-arg ref="dictionary"/>
    </bean>
</beans>